$bg: #ccc;

body {
  background-color: $bg;
  margin: 0;
}

.demo {
  display: block;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;

  div {
    margin-bottom: 20px;
  }

  label,
  input {
    display: block;
    margin: 0 auto;
  }
}
