<!DOCTYPE html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="Lorem description">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        
        <link rel="stylesheet" href="assets/css/main.css">

        <meta property="og:url" content="http://www.google.com.br/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="title lorem" />
        <meta property="og:description" content="lorem impsun" />
        <meta property="og:image" content="https://www.google.com.br/logos/doodles/2017/childrens-day-2017-brazil-5737042666323968-l.png" />
        <meta property="og:locale" content="pt_BR" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>