<div class="demo">
  <form action="/batata" method="POST" data-form>
    
    <div data-field-holder>
      <label for="input-name">Nome</label>
      <input type="text" id="input-name" name="nome">
      <span data-field-error></span>
    </div>

    <div data-field-holder>
      <label for="input-cpf">CPF</label>
      <input type="text" id="input-cpf" name="cpf" data-form-mask="cpf">
      <span data-field-error></span>
    </div>

    <div data-field-holder>
      <label for="input-rua">Rua</label>
      <input type="text" id="input-rua" name="rua">
      <span data-field-error></span>
    </div>

    <div data-field-holder>
      <label for="input-cep">CEP</label>
      <input type="text" id="input-cep" name="cep">
      <span data-field-error></span>
    </div>

    <button type="submit">Enviar</button>
  </form>
</div>